@import '_cards.scss';
@import '_variable.scss';

html {
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: row;
  width: 130rem;
  height: 65rem;
}

.controls__icon-title{
  display: flex;
  flex-direction: row;
  margin: 1.5rem;
  img{
    margin: 1rem;
  }
  h1{
    padding: 1rem;
    font-weight: 800;
  }
}

.controls__section{
  border-right: 3px solid $blue;
  margin: 0.5rem;
}

.table{
  background-image: url(../img/bg.jpg);
  width: 100%;
  
}